.Label-text{
  color: black;
}

.Search-bar-div{
  display: block;
  text-align: center;

}

.Search-bar-form{

  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;


}

.Search-bar{
  border: 3px solid black;
  border-radius:5px;
  color: blue;
  margin: 10px 20px;
  
  padding: 10px 20px;
  width: 50%;
  transition: width 0.4s ease-in-out;
}

.Search-bar:focus{
  width: 70%;
}
